.experiences {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.experiences li {
    margin: .5rem 1rem;
}

.experiences .title,
.experiences .period {
    margin-bottom: .5rem;
}

.experiences .title {
    font-size: 1.3rem;
}

.experiences .period {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-weight: 400;
    font-style: italic;
}

.experiences .period::before {
    content: "";
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: .5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../images/icons/calendar.svg');
}

.experiences p {
    text-align: justify;
}
