.resume {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 1rem;
}

.resume .networks ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    max-width: 350px;
}

.resume .networks ul li img {
    max-width: 3.125rem;
    margin: .5rem;
    transition: .25s;
}

.resume .networks ul li img:hover {
    filter: brightness(.5);
    opacity: .5;
}

.resume .about p {
    text-align: justify;
    /* font-style: italic; */
    margin: .5rem 0;
}

@media only screen and (min-width: 660px) {
    .resume {
        flex-direction: row;
    }

    .resume .networks h3,
    .resume .about h3 {
        margin-bottom: 1.5rem;
    }

    .resume .networks ul {
        max-width: 100%;
        min-width: 180px;
    }
}