.skills {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 1rem;
}

.skills .tools ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    max-width: 350px;
}

.skills .tools ul li img {
    max-width: 3.125rem;
    margin: .5rem 1rem;
}

.skills .personal ul {
    margin: .5rem;
}

.skills .personal li {
    font-style: italic;
    margin: 0 1rem;
}

@media only screen and (min-width: 660px) {
    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    .skills .tools h3,
    .skills .personal h3 {
        margin-bottom: 1.5rem;
    }

    .skills .tools ul {
        max-width: 100%;
    }

    .skills .personal ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }

    .skills .personal ul li {
        margin: .5rem .5rem 0 1rem;
    }
}