* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

@font-face {
    font-family: 'Naue Machina';
    src: url('../fonts/neue-machina-regular.otf');
}